.weather-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;

    .weather {
        flex: 1;
        border-radius: 10px;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.15);
        padding: 20px;
        color: #fff;
        backdrop-filter: blur(10px);

        &__error {
            color: red;
        }

        &__data {
            text-align: center;
        }

        &__icon {
            width: 70px;
            height: 70px;
            margin-bottom: 20px;
        }

        &__temperature,
        &__condition,
        &__wind,
        &__humidity,
        &__pressure,
        &__precipitation,
        &__cloud-cover,
        &__feels-like,
        &__visibility,
        &__uv-index,
        &__gust {
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 760px) {
    .weather-container {
        align-items: stretch;
        flex-direction: row;
    }
}
