@use "../../styles/variables" as *;

.weather-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;

    .weather {
        flex: 1;
        border-radius: 10px;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
        background-color: $bg-transparent-dark;
        padding: 20px;
        color: $color-white;
        backdrop-filter: blur(10px);

        &__error {
            color: $color-red;
        }

        &__data {
            text-align: center;
        }

        &__icon {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        &__temperature {
            font-size: 24px;
            font-weight: bold;
        }

        &__temperature,
        &__condition,
        &__wind,
        &__humidity,
        &__pressure,
        &__precipitation,
        &__cloud-cover,
        &__feels-like,
        &__visibility,
        &__uv-index,
        &__gust {
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 760px) {
    .weather-container {
        align-items: stretch;
        flex-direction: row;

        .weather {
            &__temperature {
                font-size: 26px;
            }
        }
    }
}
