.search-city {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 20px 0;

    &__input {
        padding: 10px;
        font-size: 16px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        outline: none;
        border: none;
        width: 100%;
    }

    &__button {
        padding: 9px 20px;
        // font-size: 16px;
        border: none;
        outline: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #ff6347;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #f04325;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .search-city {
        &__input {
            width: 350px;
        }
    }
}
