.intro {
    &__container {
        display: flex;
        flex-direction: column;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-between;
    }

    &__greeting {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    &__location {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        &__container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__greeting {
            font-size: 2.4rem;
        }

        &__location {
            font-size: 1.6rem;
        }
    }
}
