@use "../../styles/variables" as *;

.todays-goal {
    max-width: 600px;
    margin-top: 80px;

    &__heading {
        margin: 20px 0;
    }

    &__quote {
        margin: 20px 0;
        border-left: 2px solid $color-white;
        padding-left: 10px;
    }

    &__todo-length {
        font-size: 18px;
    }
}
